{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}<!DOCTYPE html>

{% block extrahead %}
<meta http-equiv="Content-Security-Policy" content="child-src 'self'">
{% endblock extrahead %}

{% block content %}
<h2>{% blocktrans %}Label sample{% endblocktrans %}</h2>
{% crispy form %}

<iframe id="iframe" width="1024" height="768" srcdoc="{{ frozen_page|escape }}"></iframe>

{% endblock content %}
{% block extrajavascript %}
<script type="module">
import { createPickingUiForIframe } from "{% static 'js/labeler.js' %}";

document.addEventListener("DOMContentLoaded", function() {
    const iframe = document.getElementById("iframe");
    const toggleBtn = document.getElementById("toggle-picking");
    const submitBtn = document.getElementById("submit-labels");
    if (iframe.contentDocument !== null) {
        createPickingUiForIframe({iframe, toggleBtn, submitBtn});
    } else {
        iframe.addEventListener("load", function() {
            createPickingUiForIframe({iframe, toggleBtn, submitBtn});
        });
    }
});
</script>
{% endblock extrajavascript %}
