{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}<!DOCTYPE html>

{% block extrahead %}
<meta http-equiv="Content-Security-Policy" content="child-src 'self'">
{% endblock extrahead %}

{% block content %}
<h2>{% blocktrans %}Label sample{% endblocktrans %}</h2>
{% crispy form %}

<iframe id="iframe" width="1024" height="768" srcdoc="{{ frozen_page|escape }}"></iframe>

{% endblock content %}
{% block extrajavascript %}
<script type="module" src="{% static 'js/labeler.js' %}"></script>
{% endblock extrajavascript %}
