{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}<!DOCTYPE html>

{% block extrahead %}
<meta http-equiv="Content-Security-Policy" content="child-src 'self'">
{% endblock extrahead %}

{% block content %}
<h2>{% trans "Label sample" %}</h2>
<dl class="sample-info-table">
  <dt>{% trans "Sample id" %}</dt>
  <dd>{{ sample.original_sample.id }}</dd>
  <dt>{% trans "url" %}</dt>
  <dd>{{ sample.original_sample.url }}</dd>
  <dt>{% trans "Saved labels" %}</dt>
  <dd>
    {% if labels %}
      {{ labels }}
    {% else %}
      {% trans "None" %}
    {% endif %}
  </dd>
  <dt>{% trans "Add new labels" %}</dt>
  <dd><input type="checkbox" id="toggle-picking" checked>  Uncheck to disable labeling</dd>
</dl>
{% crispy form %}

<iframe id="iframe" width="{{ sample.original_sample.page_width|default:1366 }}" height="{{ sample.original_sample.page_height|default:768 }}" srcdoc="{{ sample.modified_sample|escape }}"></iframe>

{% endblock content %}
{% block extrajavascript %}
<script type="module">
import { createPickingUiForIframe } from "{% static 'js/labeler.js' %}";

document.addEventListener("DOMContentLoaded", function() {
    const iframe = document.getElementById("iframe");
    const toggleBtn = document.getElementById("toggle-picking");
    const submitBtn = document.getElementById("submit-labels");
    const startPicking = document.getElementById("toggle-picking").checked;
    let pickedElementsMap = new Map();

    function updatePickedElementsMap({iframe, pickedElementsMap}) {
      let element = null;
      {% for label in labeled_elements %}
        element = iframe.contentDocument.querySelector("[data-fta_id='{{ label.data_fta_id }}']")
        pickedElementsMap.set(element, {
            overlay: null,
            tag: "{{ label.label }}",
        });
      {% endfor %}

    }

    const initializer = {
      iframe, toggleBtn, submitBtn, pickedElementsMap, startPicking
    };
    if (iframe.contentDocument !== null) {
      updatePickedElementsMap({iframe, pickedElementsMap});
      createPickingUiForIframe(initializer);
    } else {
        iframe.addEventListener("load", function() {
          updatePickedElementsMap({iframe, pickedElementsMap});
          createPickingUiForIframe(initializer);
        });
    }
});
</script>
{% endblock extrajavascript %}
