{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block content %}
<h2>{% blocktrans %}Samples{% endblocktrans %}</h2>
<div class="alert alert-danger" role="alert">
  Samples may include pornographic or other offensive content. You are <b>not</b> obliged to review offensive content. Please use your discretion and discuss with team.
</div>
{% if request.GET.label %}
<p>
  {% if request.GET.label == '-' %}
    Table is filtered to samples with no label.
  {% else %}
    Table is filtered to samples with label "{{ request.GET.label }}".
  {% endif %}
  <a href="{% url 'list_samples' %}">Clear filter</a>
</p>
{% else %}
<p>Click a label to filter table by existing labels. Selecting "-" will filter to samples with no labels.</p>
{% endif %}
<p>You can click on a table heading to sort.</p>
{% render_table table %}
{% endblock content %}
