.mb-1 img {
  height: 20px;
  width: auto;
  vertical-align: baseline;
}

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.orderable.asc, .orderable.desc {
	display: inline-block;
	position: relative;
	border: none;
}

.orderable.desc:after, .orderable.asc:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	left: 100%;
}

.orderable.desc:after {
	top: 50%;
	border-top: 5px solid black;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
}

.orderable.asc:after {
	bottom: 50%;
	border-bottom: 5px solid black;
	border-top: 5px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}


.sample-info-table {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 3px;
}

.sample-info-table > * {
    margin-bottom: 3px;
}

.sample-info-table > dt {
    flex: 0 0 250px;
}

.sample-info-table > dd {
    flex: 1 1 75%;
}

.iframe-container {
    position: relative;
}

.frozen-page-iframe {
    width: 100%;
    height: 100%;
}

.h-center {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
}

.picker-loading-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(128, 128, 128);
    opacity: 0.95;
    transition: visibility .25s, opacity .25s linear;
}

.picker-loading-overlay.hidden {
    opacity: 0;
    visibility: hidden;
}
